@import "tailwindcss";

:root {
  --background: #fff5ef;
  --foreground: #554c36;
  --coffee: #241a19;
  --wine: #722633;
  --brand-gradient: linear-gradient(90deg, var(--coffee) 0%, var(--wine) 100%);
  --coffee-rgb: 36 26 25;   
  --wine-rgb:   114 38 51;  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coffee: var(--coffee);
  --color-wine: var(--wine);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1e3c7;
    --foreground: #362d18;
    --coffee: #241a19;
    --coffee-rgb: 36 26 25;
    --wine-rgb:   114 38 51;
  }
}
