@import "tailwindcss";
@import "react-day-picker/dist/style.css";

:root {
  --background: #fdf2ea;
  --foreground: #272318;
  --coffee: #241a19;
  --wine: #722633;
  --brand-gradient: linear-gradient(90deg, var(--coffee) 0%, var(--wine) 100%);
  --coffee-rgb: 36 26 25;
  --wine-rgb: 114 38 51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coffee: var(--coffee);
  --color-wine: var(--wine);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1e3c7;
    --foreground: #362d18;
    --coffee: #241a19;
    --coffee-rgb: 36 26 25;
    --wine-rgb: 114 38 51;
  }
}
/* Calendar container */
.rdp {
  --rdp-day_button-height: 42px;
  --rdp-day_button-width: 42px;
  --rdp-accent-color: #fbbf24;
  --rdp-background-color: #fffaf0;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #fbbf24;
  border-radius: 0.75rem;
  font-size: 0.9rem;
  font-family: inherit;
}

button.rdp-day_selected,
.rdp-selected,
.rdp-day_button {
  background-color: #fbbf24;
  color: #442b2b;
  border-radius: 0.5rem;
}

.rdp-range_start .rdp-day_button {
  background-color: orangered;
  border: yellow;
}
.rdp-range_end .rdp-day_button {
  background-color: orangered;
  border: var(--coffee);
}

@media (max-width: 640px) {
  .rdp-day {
    --rdp-day_button-height: 20px;
    --rdp-day_button-width: 20px;
    font-size: 0.75rem !important;
  }

  .rdp-day_button {
    min-width: 28px !important;
    min-height: 28px !important;
    line-height: 28px !important;
  }
}

svg.rdp-chevron {
  fill: #241a19;
}
.modal-scroll {
  max-height: calc(85vh - 60px);
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--wine), var(--coffee));
  border-radius: 9999px;
  transition:
    background 0.3s ease,
    width 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--wine) 80%, white 20%),
    color-mix(in oklab, var(--coffee) 80%, white 20%)
  );
}

*::-webkit-scrollbar-thumb:active {
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--wine) 85%, black 15%),
    color-mix(in oklab, var(--coffee) 85%, black 15%)
  );
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--wine) transparent;
}

.border-gradient {
  border: 30px solid transparent;
  border-image: var(--brand-gradient) 1;
}
